*{
    /* color: #ff8e04; */
}
nav a {
    text-decoration: none;
    color: inherit;
    font-size: 20px;
}

nav ul {
    background-color: #ff9500;
    overflow: hidden;
    color: white;
    padding: 0;
    margin: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}

nav ul li {
    padding: 20px;
}

nav ul li:hover {
    background-color: white;
    color: black;

}
@media screen and (max-width:599px) {

    nav a {
        font-size: 15px;
    }

    nav ul li {

        padding: 15px;

    }
}

@media screen and (max-width:411px) {

    nav a {
        font-size: 11px;
    }

    nav ul li {

        padding: 15px;
        padding-right: 4px;

    }
}
h1, h2, h3, h4, h5, h6 {
    color: #ff8e04;
}
p{
    color: #fff;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    outline: none;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.section_all {
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
    min-height: 100vh;
}
.section-title {
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.section-subtitle {
    letter-spacing: 0.4px;
    line-height: 28px;
    max-width: 550px;
}

 
.text_custom {
    color: #ff8e04;
}
.text_custom2{
color: #fff;
}
 

