nav a {
    text-decoration: none;
    color: inherit;
    font-size: 20px;
}

nav ul {
    background-color: #ff9500;
    overflow: hidden;
    color: white;
    padding: 0;
    margin: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}

nav ul li {
    padding: 20px;
}

nav ul li:hover {
    background-color: white;
    color: black;

}
@media screen and (max-width:599px) {

    nav a {
        font-size: 15px;
    }

    nav ul li {

        padding: 15px;

    }
}

@media screen and (max-width:411px) {

    nav a {
        font-size: 11px;
    }

    nav ul li {

        padding: 15px;
        padding-right: 4px;

    }
}

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
}
.books {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: black;
  font-family: "Roboto", sans-serif;
  
}
.container {
  display: flex;
  width: 1040px;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card {
  margin: 10px;
  background-color: rgba(255, 169, 48, 0.917);
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 300px;
  margin-bottom: 1rem;
}
.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  min-height: 200px;
}


.card-body p {
  font-size: 13px;
  margin: 0 0 40px;
}
.card-body a{
    text-decoration: none;
    background-color: aliceblue;
    color: black;
    padding: 0.5rem;
}