nav a {
    text-decoration: none;
    color: inherit;
    font-size: 20px;
}

nav ul {
    background-color: #ff9500;
    overflow: hidden;
    color: white;
    padding: 0;
    margin: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}

nav ul li {
    padding: 20px;
}

nav ul li:hover {
    background-color: white;
    color: black;

}
@media screen and (max-width:599px) {

    nav a {
        font-size: 15px;
    }

    nav ul li {

        padding: 15px;

    }
}

@media screen and (max-width:411px) {

    nav a {
        font-size: 11px;
    }

    nav ul li {

        padding: 15px;
        padding-right: 4px;

    }
}

  
 
* { box-sizing: border-box; }
body { background: rgba(247, 193, 91, 0.771); }
 
/* (B) GALLERY WRAPPER */
.gallery {
  
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
 

  max-width: 90vw;
  margin: 0 auto;
  overflow: hidden;
}

.gallery img {
  /* (C1) DIMENSION */
  width: 100%;
  height: 150px; /* optional */
  padding: 10px;
 
  /* (C2) COLORS */
  border: 1px solid #ddd;
  background: #fff;
 
  /* (C3) IMAGE RESIZE */
  /* cover | contain | fill | scale-down */
  object-fit: contain;
  position: relative;
}
@media only screen and (max-width: 600px) {
    .gallery {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .gallery img:hover {
    z-index: 9;
    transform: scale(1.3);
    /* linear | ease | ease-in | ease-out | ease-in-out */
    transition: transform ease 0.5s;
  }
