@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

*, html{
    scroll-behavior: smooth;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root{
    --white:#FFF;
    --black:#000;
    --lite:rgba(255,255,255,0.6);
    --gray:rgba(1,1,1,0.6);
    --dark:#121212;
    --primary:#f97008;
   
    --default_font:'Nunito Sans', sans-serif;
    --title_font:'Nunito Sans', sans-serif;
}

::-webkit-scrollbar {
    height: 12px;
    width: 4px;
    background: var(--dark);
}

::-webkit-scrollbar-thumb {
    background: gray;
    -webkit-box-shadow: 0px 1px 2px var(--dark);
}

::-webkit-scrollbar-corner {
    background: var(--dark);
}





/***************************
            DEFAULT
****************************/
body{
    margin:0;
    overflow-x:hidden !important;
    font-family: var(--default_font);
}

a{
    text-decoration:none !important;
    min-width: fit-content;
    width: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
}

a, button{
    transition:0.5s;
}

a:hover, .active, .active_sub_link, .btn{
    opacity:1;
}

em{
    font-style:normal;
    color:var(--primary);
}

figure{
    padding:0;
    margin:0;
    pointer-events:none;
}

figure img{
    width:100%;
    height:100%;
}

a, p, .btn{
    font-size:15px;
}

p{
    line-height:1.9em;
    opacity:0.6;
}

a, button, input, textarea, select{
    outline:none !important;
}

fieldset{
    border:0;
}

ul{
    padding:0;
    margin:0;
}

li{
    list-style:none;
}

.title, .sub_title{
    font-family:var(--title_font);
    font-weight:700;
}

.flex, .fixed_flex{
    display:flex;
}

.flex_content{
    width:100%;
    position:relative;
}

.grid{
    display:grid;
}

.padding_1x{
    padding:1rem;
}

.padding_2x{
    padding:2rem;
}

.padding_3x{
    padding:3rem;
}

.padding_4x{
    padding:4rem;
}

.big{
    font-size:3.5em;
}

.medium{
    font-size:2em;
}

.small{
    font-size:1.3em;
}

.btn{
    padding:0.8rem 1rem;
    border-radius:5px;
    position:relative;
    border:0;
    text-align:center;
}

.btn_1{
    background:var(--primary);
    color:var(--white);
}

.btn_2{
    background-color:var(--white);
    color:var(--dark);
}

.btn_1:hover, .btn_2:hover{
    opacity:0.6;
}

.btn_3{
    display:block;
    background-color:0;
    color:var(--white);
    position:relative;
    font-family:var(--default_font);
    font-weight:400;
    text-transform:uppercase;
}

.btn_3:before{
    content:"";
    border-radius:50%;
    background-color:rgba(255,255,255,0.2);
    position:absolute;
    left:0;
    top:50%;
    width:50px;
    height:50px;
    transition:0.5s;
    transform:translate(0%, -50%);
}

.btn_3:after{
    content:"\f178";
    font-family:"FontAwesome";
    margin-left:5px;
}

.btn_3:hover:before{
    border-radius:40px;
    width:100%;
}

.btn_4{
    background-color:transparent;
    border:1px solid var(--white);
    color:var(--white);
}

.btn_4:hover{
    background-color:var(--white);
    color:var(--primary);
}

.divisions{
    position:relative;
}

.title_header{
    margin:auto;
    text-align:center;
    width:60%;
}

.ball{
    position:relative;
}

.ball:before{
    content:"";
    border-radius:50%;
    background-color:rgba(1,1,1,0.2);
    position:absolute;
    left:0;
    top:30%;
    width:30px;
    height:30px;  
    transform:translate(-50%, -50%);
}

.link-tag{
    position:relative;
}

.link-tag:before{
    content:"\f0da";
    font-family:"FontAwesome";
    margin-right:5px;
    transition:0.5s;
    color:var(--primary_dark);
}

.link-tag:hover:before{
    margin-right:10px;
    color:inherit;
}

.link-tag:hover{
    color:var(--primary);
}

.buttons{
    align-items:center;
}

.buttons .btn:not(:last-child){
    margin-right:10px;
}

@media (max-width:1000px){
     .big{
        font-size:1.8em;
    }
    
    .medium{
        font-size:1.5em;
    }
    
    .small{
        font-size:1.1em;
    }
    
    .btn{
        padding:0.5rem 1rem;
    }
    
    a, p, .btn{
        font-size:12px;
    }
}

@media (max-width:620px){
    .flex{
        flex-wrap:wrap;
    }
    
    .padding_1x, .padding_2x, .padding_3x, .padding_4x{
        padding:1rem;
    }
    
    .btn_3:before{
        width:40px;
        height:40px;
    }
    
    .title_header{
        width:100%;
    }
}




/***************************
      CUSTOM  LOGO
****************************/
nav a {
    text-decoration: none;
    color: inherit;
    font-size: 20px;
}

nav ul {
    background-color: #ff9500;
    overflow: hidden;
    color: white;
    padding: 0;
    margin: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}

nav ul li {
    padding: 20px;
}

nav ul li:hover {
    background-color: white;
    color: black;

}
@media screen and (max-width:599px) {

    nav a {
        font-size: 15px;
    }

    nav ul li {

        padding: 15px;

    }
}

@media screen and (max-width:411px) {

    nav a {
        font-size: 11px;
    }

    nav ul li {

        padding: 15px;
        padding-right: 4px;

    }
}

/*OVERLAY*/
.overlay{
    position:fixed;
    top:0;
    left:0;
    background-color:var(--gray);
    width:100%;
    height:100%;
    z-index:1;
    transition:0.5s;
}



/***************************
         ANIMATE.CSS
****************************/
/*Animated bar*/
.bar{
    display:block;
    height: 5px;
    width: 100px;
    background: var(--primary);
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    margin: 20px auto 20px 0;
}

.bar:before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    width: 5px;
    background: var(--white);
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: MOVE-BG;
    animation-name: MOVE-BG;
}

@keyframes MOVE-BG{
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(105px);
        transform: translateX(105px);
    }
}

/*ROTATE*/
@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}



/***************************
         HOME.CSS
****************************/
/***************************
         HEADER
****************************/
header{
    width:100%;
    background:linear-gradient(to right, rgba(1,1,1,0.9) 10%, rgba(1,1,1,0.6) 50%, rgba(1,1,1,0.4) 100%), url("images/HD-wallpaper-dark-academia-dark-academia-stock-dark-academia-aesthetic.jpg");
    background-size:cover;
    background-position:center;
    color:var(--white);
    flex-wrap:wrap;
}

header article{
    padding:6rem 2rem;
    flex: 0 0 60%;
}

header article .title{
    margin:0.5em 0;
}

header article .btn_3:after{
    content:"\f0f4";
}

@media (max-width:920px){
    header article{
        flex: 0 0 100%;
        padding:6rem 0rem;
    }
}



/***************************
             MAIN
****************************/
main{
    width:100%;
    border-top:3px solid var(--primary);
}



/*DIVISION_2*/
.division_2{
    align-items:center;
}

.division_2 article .title{
    color:var(--dark);
}

.division_2 figure{
    width:auto;
}


/*DIVISION_3*/
.division_3{
    padding:0 4rem;
}

.division_3 section{
    margin:auto;
    border-radius:20px;
    background-color:var(--primary);
    color:var(--white);
    align-items:center;
    justify-content:space-between;
    position:relative;
    overflow:hidden;
}

.division_3 section:before{
    content:"";
    position:absolute;
    left:-50px;
    top:-50px;
    width:150px;
    height:150px;
    background-color:rgba(1,1,1,0.1);
    border-radius:100px;
}

.division_3 section .btn_2{
    color:var(--primary);
}

@media (max-width:920px){
    .division_3 section{
        border-radius:0;
        text-align:center;
    }
    
    .division_3 .buttons{
        justify-content:center;
        align-items:center;
        width:100%;
    }
}

@media (max-width:920px){
    .divisions{
        padding:0 !important;
    }
}

.book {
    color: black;
    font-size: 1.1rem;
    display: flex;
    flex-direction: row;
    width:100vw;
    margin-left : auto;
    margin-right: auto;
    background: url('images/oldpaper.jpg') no-repeat center center/cover;
  }
  
  
  
  
  .book h1 {
    font-family: 'Ibarra Real Nova', serif;
    text-align: right;
    font-weight: 400;
    font-size: 5rem;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 0;
    letter-spacing: .1rem;
    color: #f97008;
  }
  
  .right-page {
    width: 50%;
    margin-top: 0px;
    padding-top: 0px;
    padding-right: 4rem;
  }
  .right-page p {
    line-height: 1.4;
    text-align: right;
    text-justify: inter-word;
    font-size: 1.7rem;
    color: #000;
  }
  
  
  
  .left-page {
    width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-top: 0rem;
      padding-right: 5px;
  }
  
  
  
  .left-page img {
    max-width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50vh;
    padding-top: 2rem;
  }
  .head{
    padding: 0px;
    margin: 0px;
    font-size: 2rem;
    color: #f97008;
  }
  
  @media screen and (max-width: 910px) {
   
    .right-page {
     
      padding-right: 15px;
    }
  }
  @media screen and (max-width: 750px) {
    
    .book{
        height: 100vh;
    }
    .right-page {
     padding-right: 2px;
     padding-top: 4px;
      
    }
    .right-page p {
        line-height: 1.4;
        text-align: right;
        text-justify: inter-word;
        font-size: 1.3rem;
        color: #000;
      }
   
    .left-page {
      padding-top: 0rem;
    }
  }
  @media screen and (max-width: 500px) {
    
    .book{
        height: 100vh;
    }
    .right-page {
     padding-right: 18px;
     padding-top: 74px;
      
    }
    .right-page p {
        line-height: 1.4;
        text-align: right;
        text-justify: inter-word;
        font-size: 1.1rem;
        color: #000;
      }
   
    .left-page {
      padding-top: 0rem;
    }
  }

.news{
    background-color: #000;
    height: 100vh;
   
}

  .container {
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 1200px;
    margin-block: 2rem;
    gap: 2rem;
  }
  
  .container img {
    max-width: 100%;
    display: block;
    object-fit: cover;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    width: clamp(20rem, calc(20rem + 2vw), 22rem);
    overflow: hidden;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    background: #ECE9E6;
  background: linear-gradient(to right, #FFFFFF, #ECE9E6);
  
  }
  .card a:hover{
      background-color: black;
      color: white;
    }
    .card a{
      padding: 2px;
    background-color: #f97008;
    color: #FFFFFF;
  }
  
  .card__body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }
  
  .card__body h4 {
    font-size: 1.5rem;
    text-transform: capitalize;
    margin: 5px;
  }
  

  .footer-section {
    background: #151414;
    position: relative;
  }
  
  .single-cta i {
    color: #ff5e14;
    font-size: 30px;
    float: left;
    margin-top: 8px;
  }
 
  .copyright-area{
    background: #202020;
    padding: 25px 0;
  }
  .copyright-text p {
    margin: 0;
    font-size: 14px;
    color: #878787;
  }
  .copyright-text p a{
    color: #ff5e14;
  }
  
